<!DOCTYPE html>
<html>
  <head>
    <link href="./css/style.css"  rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="margin20 textCenter fs20">The Flighter</div>
    <div id="flightFields" class="margin20 textCenter">
      <input type="text"  placeholder="Name"           id="name"   />
      <input type="text"  placeholder="Origin"         id="origin" />
      <input type="text"  placeholder="Destination"    id="destination"/>
      <input type="number"  placeholder="Price"        id="price" />
      <input type="number"  placeholder="Rating"       id="rating" />
      <button type="button" id="addBtn">Add Item</button>
    </div>
    <div class="marginT30">
      <div class="sort" id="sorter">
        <span id="sortPrice" data-sort="asc">Sort by Price</span>
        <span id="sortRating"data-sort="asc">Sort by Rating</span>
      </div>
      <div id="flightItems">
      </div>
    </div>
  </body>
  <script src="./js/script.js" type="text/javascript"></script>
</html>
